* { touch-action: pan-y; }
#condition_view{
	overflow: hidden;
	height: 1068px;
}
#condition_view .myel-card{
	position: relative;
}
#diagnosis_chart{
	position: relative;
	z-index: 66666;
	bottom: 50px;
	right: 20px;
}
#diagnosis_button{
	float: right;
}
.diagnosis_view {
	position: relative;
	z-index: auto;
	height: 540px;
	bottom: 580px;
	/* width: 1595px;*/
	width: 100%;
}
.diagnosis-enter-active,
.diagnosis-leave-active {
	transition: opacity 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}
.diagnosis-enter, .diagnosis-leave-to /* .diagnosis-leave-active below version 2.1.8 */ {
	opacity: 0;
}
