.switchG text{
    font-size: 10px;
    font-family: "Gill Sans,Gill Sans MT,Calibri,Trebuchet MS,sans-serif";
    text-anchor: middle;
}
.visG text{
    font-size: 10px;
    font-family: "Gill Sans,Gill Sans MT,Calibri,Trebuchet MS,sans-serif";
    text-anchor: middle;
}
.heatButton text{
    font-size: 10px;
    font-family: "Gill Sans,Gill Sans MT,Calibri,Trebuchet MS,sans-serif";
    text-anchor: middle;
}
.semiButton text{
    font-size: 10px;
    font-family: "Gill Sans,Gill Sans MT,Calibri,Trebuchet MS,sans-serif";
    text-anchor: middle;
}
.filterButton text{
    font-size: 10px;
    font-family: "Gill Sans,Gill Sans MT,Calibri,Trebuchet MS,sans-serif";
    text-anchor: middle;
}
.lineG text{
    font-family: "Gill Sans,Gill Sans MT,Calibri,Trebuchet MS,sans-serif";
    text-anchor: middle;
}
.sortIndex{
    font-size: 8px;
    fill:#fff;
    font-family: "Gill Sans,Gill Sans MT,Calibri,Trebuchet MS,sans-serif";
    text-anchor: middle;
}
.textG text{
    font-family: "Gill Sans,Gill Sans MT,Calibri,Trebuchet MS,sans-serif";
    text-anchor: end;
    font-size: 8px;
}
.axisG text{
    font-family: "Gill Sans,Gill Sans MT,Calibri,Trebuchet MS,sans-serif";
}
.dragG{
    cursor: move;
}
.dragG rect{
    fill:#cccccc
}
.heatMapInnerBorder{
    fill:#cccccc
}
.batchG path{
    opacity: 0.6;
}
.sortG text{
    font-size: 9px;
    font-family: "Gill Sans,Gill Sans MT,Calibri,Trebuchet MS,sans-serif";
    text-anchor: middle;
}
.iconG{
    width: 13px;
    height: 13px;
}
.sideTextG text{
    font-size: 10px;
    font-family: "Gill Sans,Gill Sans MT,Calibri,Trebuchet MS,sans-serif";
    font-style: italic
}
.outerElementG text{
    font-family: "Gill Sans,Gill Sans MT,Calibri,Trebuchet MS,sans-serif";
    font-size: 6px;
    padding: 1px;
}
.vis path{
    opacity: 1;
    stroke-width: 0.5;
}
.visoverlay{
    fill:white;
    opacity: 0;
}
